---
http_interactions:
  - request:
      method: post
      uri: https://api.dropboxapi.com/oauth2/token
      body:
        encoding: UTF-8
        string: code=ACCESS_CODE&grant_type=authorization_code
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
        Authorization:
          - Basic Q0xJRU5UX0lEOkFDQ0VTU19DT0RF
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Server-Response-Time:
          - '463'
        X-Dropbox-Response-Origin:
          - far_remote
        X-Dropbox-Request-Id:
          - 9ac71574cf1949168aee49f3b5b0d03d
      body:
        encoding: ASCII-8BIT
        string: '{"access_token": "MOCK_ACCESS_TOKEN",
        "token_type": "bearer", "expires_in": 14400, "refresh_token": "MOCK_REFRESH_TOKEN",
        "scope": "account_info.read files.content.write files.metadata.read sharing.read
        sharing.write", "uid": "2532732817", "account_id": "dbid:AADwrcYx4B08dp5mM5-UzqDuAlLSRDuj0ms"}'
    recorded_at: Wed, 12 Feb 2025 20:19:59 GMT
recorded_with: VCR 6.3.1
